.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: #04AA6D;
}

body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top : 0%;
    background: linear-gradient(to bottom left, #EF8D9C 50%, #FFC39E 100%);
    background-repeat: no-repeat;
}